body{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvq9i1KPd0xoh0iUaubvfijFZq8xxwfc5VM5MTU5fLC4G8INLO3mbbsSvz&s=10![17481113328403024849199721656888.jpg](https://github.com/user-attachments/assets/46871b74-5959-4ce3-a7b8-90313c7479e5);
background-size:cover;
background-repeat:no repeat;
}
h1{
font-style:waterfont;
color:yellow;
text-align: center;
}
h3{
font-style:waterfont;
color:Beige;
text-align: center;
}
.Ruku14{
Color:orange;
font-size:45px;
border-radius:12px;
background:purple;
}
.Ruku18{
color:orange;
border-radius:12px;
font-size:45px;
background:purple;
}


