body{
background-color:Navy Blue;
}
h1{
font-style:waterfont;
color:yellow;
text-align: center;
}
h3{
font-style:waterfont;
color:Beige;
text-align: center;
}
.Ruku14{
Color:orange;
font-size:45px;
border-radius:12px;
background:purple;
}
.Ruku18{
color:orange;
border-radius:12px;
font-size:45px;
background:purple;
}


